<!DOCTYPE html>
<!-- 
  Clyde 'Thluffy' Sinclair
  SoftDev
  Oct 2021
 -->

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Solidity Writeup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
    <div class = "d-flex justify-content-center align-items-center flex-column p-5">    
        <h1 class="p-5 text-center">
            Solidity Writeup 
            <br>
            <small class="text-muted">Aaron Contreras and David Chong</small>
        </h1>
        
        <div class="d-flex flex-row justify-content-between align-items-center p-5">
            <div class = "text-left w-50">
            <p>
                Solidity is a regularly updated High level programming language for implementing smart contracts onto the Ethereum blockchain.  It is a curly bracket language designed to target the EVM, and the smart contracts can be used to create multitudes of dApps(decentralized applications)
            </p>
            <p>
                Efficiency is extremely important with Solidity, as users pay have to pay fees to interact with the blockchain.  The more unnecessary information that is sent into the blockchain, the higher the price that the user would pay to have the transaction go through
            </p>
            <p>
                It is also extremely important to audit your code, especially when dealing with Ethereum.  There are multitudes of hacks and other cases that you might not think of, which will lead into incredible amounts of money being locked up or lost forever.
            </p>

            <p>
                Check out transactions and Gas Prices on the Ethereum Blockchain on <a href="https://etherscan.io/" target="_blank">Etherscan</a>.
                Try coding in Solidity for yourself in <a href="https://remix.ethereum.org/" target="_blank">Remix</a>, an online Solidity IDE!
            </p>
            </div>
        <iframe class = 'position-relative' src="https://docs.google.com/presentation/d/e/2PACX-1vS059-ugWtHw4dYcpYjEuSkJdlIY4hTtM8ACClJqgdzcX_9d1e2acaYFUbODo9HwNVSaD6LG_Qz6R15/embed?start=true&loop=true&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div> 
    </div>
  </body>

</html>